/* @theme minimal-colors */

/* regular colors */
section {
  color-scheme: light;

  --color-background: white;
  --color-foreground: black;
  --color-accent: #aa96df;
  --color-highlight: #ae3f98;
  --color-highlight-secondary: #6ad681;

  --color-neutral-gray: #d0d7de;
}

section:where(.invert) {
  color-scheme: dark;

  --color-background: black;
  --color-foreground: white;
  --color-accent: #ae3f98;
  --color-highlight: #aa96df;
  --color-highlight-secondary: #3fa659;

  --color-neutral-gray: #30363d;
}

/* code block syntax highlighting */
section {
  /* rosé pine dawn theme: https: //rosepinetheme.com/ */
  --color-rosepine-base: #faf4ed;
  --color-rosepine-surface: #fffaf3;
  /* we deviate from rosé pine dawn here with the overlay color, white looks better in this case imo */
  --color-rosepine-overlay: white; /* #f2e9e1 */
  --color-rosepine-muted: #9893a5;
  --color-rosepine-subtle: #797593;
  --color-rosepine-text: #575279;
  --color-rosepine-love: #b4637a;
  --color-rosepine-gold: #ea9d34;
  --color-rosepine-rose: #d7827e;
  --color-rosepine-pine: #286983;
  --color-rosepine-foam: #56949f;
  --color-rosepine-iris: #907aa9;
  --color-rosepine-highlight-low: #f4ede8;
  --color-rosepine-highlight-med: #dfdad9;
  --color-rosepine-highlight-high: #cecacd;
}

section:where(.invert) {
  /* rosé pine (base) theme: https: //rosepinetheme.com/ */
  --color-rosepine-base: #191724;
  --color-rosepine-surface: #1f1d2e;
  --color-rosepine-overlay: #26233a;
  --color-rosepine-muted: #6e6a86;
  --color-rosepine-subtle: #908caa;
  --color-rosepine-text: #e0def4;
  --color-rosepine-love: #eb6f92;
  --color-rosepine-gold: #f6c177;
  --color-rosepine-rose: #ebbcba;
  --color-rosepine-pine: #31748f;
  --color-rosepine-foam: #9ccfd8;
  --color-rosepine-iris: #c4a7e7;
  --color-rosepine-highlight-low: #21202e;
  --color-rosepine-highlight-med: #403d52;
  --color-rosepine-highlight-high: #524f67;
}
