/* @theme minimal-headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0 0;
}

h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
  font-weight: inherit;
  color: var(--color-highlight);
}

h1::part(auto-scaling),
h2::part(auto-scaling),
h3::part(auto-scaling),
h4::part(auto-scaling),
h5::part(auto-scaling),
h6::part(auto-scaling) {
  max-height: 580px;
}

h1 {
  font-size: 1.8em;
  font-weight: 500;
}

h2 {
  font-size: 1.5em;
  font-weight: 500;
}

h3 {
  font-size: 1.3em;
  font-weight: 400;
}

h4 {
  font-size: 1.1em;
  font-weight: 400;
}

h5 {
  font-size: 1em;
  font-weight: 400;
}

h6 {
  font-size: 0.9em;
  font-weight: 400;
}
